Conversation {
  height: 1fr;
  width: 1fr;
}

Conversation > VerticalScroll {
  scrollbar-color: $panel;
}

Input {
  dock: bottom;
  border: none;
  border-top: hkey $success;
  box-sizing: border-box;
  padding: 0 2 1 2;
  height: 2;
  margin-bottom: 1;
}

ConversationHeader {
  width: 1fr;
  height: 2;
  padding: 0 2;
  background: $panel;
}

ConversationHeader > Static {
  width: auto;
}

#conversation-options-container {
  padding: 2 4;
}

.conversation-options-label {
  margin-left: 2;
}

Chatbox {
  color: $text;
  background: $success-darken-2 60%;
  height: auto;
  width: 1fr;
  margin: 1 2;
  padding: 1 2;
}

Chatbox.assistant-message {
  background: $panel;
}

Chatbox > Static {
  height: auto;
}

ModelSet {
  height: auto;
  padding: 1 2;
}

ModelSet:focus-within {
  border: solid $primary;
  padding: 0 1;
}

ModelPanel {
  width: 1fr;
  margin-left: 1;
}

ModelPanel  {
  padding: 1 2;
  height: 12;
}

ModelPanel.gpt35 {
  color: $text;
  background: $panel;
  border: thick $accent;
}

ModelPanel.gpt35 :hover {
  background: $panel-lighten-1;
  border: thick $accent-lighten-1;
}

ModelPanel.gpt35.selected {
  background: $accent-darken-2;
  border: thick $accent-lighten-1;
}

ModelPanel.gpt4 {
  color: $text;
  background: $panel;
  border: thick $success;
}

ModelPanel.gpt4 :hover {
  background: $panel-lighten-1;
  border: thick $success-lighten-1;
}

ModelPanel.gpt4.selected {
  background: $success-darken-2;
  border: thick $success-lighten-1;
}


