Conversation {
  height: 1fr;
  width: 1fr;
}

Conversation > VerticalScroll {
  scrollbar-color: $panel;
}

Input {
  dock: bottom;
  border: none;
  border-top: hkey $success;
  box-sizing: border-box;
  padding: 0 2 1 2;
  height: 2;
}

Chatbox {
  color: $text;
  background: $success-darken-2;
  height: auto;
  width: 1fr;
  margin: 1 2;
  padding: 1 2;
}

Chatbox.assistant-message {
  background: $panel;
}

Chatbox > Static {
  height: auto;
}